# Discord Bot Token
# Get your bot token from https://discord.com/developers/applications
DISCORD_TOKEN=your_discord_bot_token_here

# Guild ID (Server ID) for Where Winds Meet
# Right-click on your server name and copy ID (Developer Mode must be enabled)
GUILD_ID=your_guild_id_here

# Channel ID where invite messages will be sent
# Right-click on a channel and copy ID
INVITE_CHANNEL_ID=your_channel_id_here
